# Ignore build and distribution folders
.DS_Store
.cache/
.direnv
.devenv
.devenv*
.eslintcache
.idea/
.pnp
.pnp.js
.pre-commit-config.yaml
.quokka
.turbo
.turbo/
.vscode/
.yarn/install-state.gz
.env
.env*
.env*.local
.env.development.local
.env.local
.env.production.local
.env.test.local
*.bak
*.log
*.lock
*.pem
*.quokka.test.ts
*.swp
*.swo
*.tmp
*.tsbuildinfo
coverage/
coverage
/.next/
out/
dist/
build/
build
dist
out/
output/
public/
result
node_modules/
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
pnpm-lock.yaml
package-lock.json
next-env.d.ts
test