# Ignore build and distribution folders
.idea/
.turbo/
.vscode/
out/
dist/
build/
output/
public/
coverage/
node_modules/

.env
.env.*
.DS_Store
*.bak
*.tmp
*.log
*.lock
*.cache
*.tsbuildinfo
pnpm-lock.yaml
package-lock.json
eslint.config.mjs

npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
